<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gymmate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit workout</h1>
	<div>
	<form th:object="${workout}" th:action="@{../save}" action="#" method="post">
		  	<label for="author">Author</label>
			<label for="title">Title</label>
			<input type="text" id="title" th:field="*{title}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="description">Description</label>
			<input type="text" id="description" th:field="*{description}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="instructions">Instructions</label>
			<input type="text" id="instructions" th:field="*{instructions}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="duration">Duration</label>
			<input type="text" id="duration" th:field="*{duration}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="thumbup">ThumbUp</label>
			<input type="text" id="thumbup" th:field="*{thumbup}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="thumbdown">ThumbDown</label>
			<input type="text" id="thumbdown" th:field="*{thumbdown}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="stylist">Style</label>
			 <select id="stylist" th:field="*{style}" class="form-control">
       			<option th:each="style: ${styles}" th:value="${style.styleid}" th:text="${style.name}"></option>
			</select>
    		<input type="hidden" th:field="*{workoutid}"/>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>