<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GYMMATE - Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    
     <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 	<script type="text/javascript" th:src="@{/css/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body style="font-family: 'Chivo';
	background-image:url('../css/bg.jpg');
	background-color:#fff;
	background-size:cover;
	background-repeat:no-repeat;
	color:#fff">

<div class="container">
	<div class="row">
		<div class="col-sm-8" style="padding-top:40px;padding-bottom:0px">
			<img th:src="@{/css/Logo.png}"/>&nbsp;&nbsp;&nbsp;<i style="vertical-align:middle;"class="fas fa-dumbbell fa-4x"></i>
		</div>
	</div>
	
	<!-- For printing parameters from url to see id better -->
	<h1>Edit workout ([[${#httpServletRequest.getServletPath()}]])</h1>
	<div>
	
	<!-- Edit page for workout with specific id -->
	<form th:object="${workout}" th:action="@{../save}" action="#" method="post">
	
			<label for="title">Title</label>
			<input type="text" id="title" th:field="*{title}" class="form-control"/>
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="description">Description</label>
			<input type="text" id="description" th:field="*{description}" class="form-control"/>
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="instructions">Instructions</label>
			<textarea rows=7 id="instructions" th:field="*{instructions}" class="form-control"/>
			<p th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}">Instructions Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="duration">Duration</label>
			<input type="text" id="duration" th:field="*{duration}" class="form-control"/>
			<p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="thumbup">ThumbUp</label>
			<input type="text" id="thumbup" th:field="*{thumbup}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="thumbdown">ThumbDown</label>
			<input type="text" id="thumbdown" th:field="*{thumbdown}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="stylist">Style</label>
			 <select id="stylist" th:field="*{style}" class="form-control">
       			<option th:each="style: ${styles}" th:value="${style.styleid}" th:text="${style.name}"></option>
			</select>
			
    		<input type="hidden" th:field="*{workoutid}"/>
			
			<!-- Form buttons -->
			<div style="clear: both; display: block; height: 20px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
			<a href="/workoutlist"><input type="button" value="Cancel edit" class="btn btn-danger"/></a>
			
		</form>
	</div>
</div>
</body>
</html>