<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Gymmate Home</title>
</head>
<body>
	<div class="col-md-4">
		<h1>Workouts</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Title</th>
		    <th>Description</th>
		    <th>Instructions</th>
		    <th>Duration</th>
		    <th>Style</th>
		    <th>ThumbUp</th>
		    <th>ThumbDown</th>
		    
		    <th sec:authorize="hasRole('ADMIN')"></th>
		</tr>
    	<tr th:each = "workout : ${workouts}">
    		<td th:text="${workout.title}"></td>
    		<td th:text="${workout.description}"></td>
    		<td th:text="${workout.instructions}"></td>
    		<td th:text="${workout.duration}"></td>
    		<td th:text="${workout.style.name}"></td>
    		<td><a th:href="@{/thumbup/{id} (id=${workout.workoutid})}" class="glyphicon glyphicon-thumbs-up fa-2x"></a>&nbsp;<span th:text="${workout.thumbup}" style="font-size:20px;vertical-align:top;"></span></td>
    		<td><a th:href="@{/thumbdown/{id} (id=${workout.workoutid})}" class="glyphicon glyphicon-thumbs-down fa-2x"></a>&nbsp;<span th:text="${workout.thumbdown}" style="font-size:20px;vertical-align:top;"></span></td>
    		
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id} (id=${workout.workoutid})}" class="btn btn-danger">Delete</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id} (id=${workout.workoutid})}" class="btn btn-info">Edit</a></td>     		
    	</tr>
     </table>
     <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" href="/addworkout">Add Workout</a> 
</body>
</html>